# Ignorar todo dentro de la carpeta de plugins de tmux
SalchipapaTmux/plugins/*

# Pero mantener este archivo para que Git preserve la carpeta
!SalchipapaTmux/plugins/.gitkeep

SalchipapaZsh/.oh-my-zsh/*
!SalchipapaZsh/.oh-my-zsh/.gitkeep

*.Zone.Identifier


*.swp
*.bak
*.tmp

# LazyVim/Lazy.nvim y Neovim caché
nvim/.undo/
nvim/.swap/
nvim/.session/
# Archivos generados por fzf.fish
SalchipapaFish/fish/completions/
SalchipapaFish/fish/conf.d/fzf.fish
SalchipapaFish/fish/functions/_fzf*
# Archivos generados por nvm
SalchipapaFish/fish/conf.d/nvm.fish
SalchipapaFish/fish/functions/nvm.fish
SalchipapaFish/fish/functions/_nvm*
# Variables locales de fish
SalchipapaFish/fish/fish_variables
SalchipapaFish/fish/fish_plugins

CLAUDE.md
GEMINI.md
CODEX.md
SalchipapaFish/fish/functions/fzf*
